* {
  font-family: "Comic Neue";
  font-size: 14px;
}

$bg: #303446;
$fg: #c6d0f5;
$active: #ffb2bc;

.bar {
  padding: 7px;
  margin: 8px 18px 0px 18px;
  border-radius: 10px;
  background-color: $bg;
  color: $fg;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

.middle-separator {
  background-color: $bg;
  color: $fg;
  padding: 0 7px; 
}

.active-title {
  color: $active;
}

.workspaces {
  border-color: transparent;
  background-image: none;

  border-radius: 1rem;
  min-width: 0.2rem;
  min-height: 1.4rem;

  background-color: darken($bg, 7%);
}

.workspace-button {
  border-color: transparent;
  background-image: none;

  border-radius: 1rem;
  min-width: 0.7rem;
  min-height: 1.4rem;

  padding: 0 7px;

  &.active {
    background-color: $fg;
    color: $bg;
    min-width: 2.8rem;
  }

  &.inactive {
    color: $fg;
  }
}

.tray-item {
  all: unset;
}
