* {
  font-family: "Comic Neue";
  font-size: 14px;
}

$bg: #303446;
$fg: #c6d0f5;
$active: #ffb2bc;

.bar {
  padding: 7px;
  margin: 8px 18px 0px 18px;
  border-radius: 10px;
  background-color: $bg;
  color: $fg;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

.middle-separator {
  background-color: $bg;
  color: $fg;
  padding: 0 7px; 
}

.active-title {
  color: $active;
}

.workspace-button {
  border-color: transparent;
  background-image: none;
  background-color: darken($bg, 7%);

  border-radius: 1rem;
  border-width: 1.25px;
  min-height: 1rem;

  padding: 0 7px;

  &.current {
    border-color: $active;
  }

  &.active {
    border-color: $fg;
  }

  &.hover {
    background-color: lighten($fg, 7%);
  }
}

.tray-item {
  all: unset;
}

.quickaccess-left {
  margin-top: 5px;
  margin-left: 20px;
  background-color: $bg;
  padding: 7px;
  min-width: 200px;
}

.timer {
  color: yellow;
}
