* {
  font-size: 15px; 
  font-family: "IBM Plex Mono", "JetBrainsMono Nerd Font", "Material Symbols Rounded"; 
}

window#waybar {
  all:unset;
}

.modules-left {
  padding: 7px;
  margin: 10px 0px 5px 20px;
  border-radius: 10px;
  background: #303446;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  padding: 7px;
  margin: 10px 0px 5px 0px;
  border-radius: 10px;
  background: #303446;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  padding: 7px;
  margin: 10px 20px 5px 0px;
  border-radius: 10px;
  background: #303446;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

tooltip {
  background: #303446;
  color: #C6D0F5;
}

#weather,
#clock {
  padding: 0px 5px;
  color: #C6D0F5;
  transition: all .3s ease;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: #C6D0F5;
  transition: all .2s ease;
}

#workspaces button.active {
  color: #C6D0F5;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
}

#workspaces button.empty {
  color: rgba(0, 0, 0, 0.2);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty.active {
  color: #C6D0F5;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#group-expand {
  padding: 0px 5px;
  transition: all .2s ease;
}

#custom-expand {
  padding: 0px 5px;
  color: #C6D0F5;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
  transition: all .2s ease;
}

#custom-expand:hover {
  color: #C6D0F5;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
}

#tray {
  padding: 0px 7px;
  transition: all .3s ease;
}

#network,
#pulseaudio,
#clock {
  margin: 0px 5px;
  font-size: 14px;
  color: #C6D0F5;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .2);
}

